
body {
    /*text-align: center;
    font-family: 'EB Garamond', serif;
    background-color: lightblue;
    font-size: large;
    font-weight: bold;*/
/*background-attachment:fixed;
background-position:center; */

}

#choosetext{

  text-align: center;
}

#mycanvas {
            
            margin-top: 30px;
            margin-left: 200px;
  /*margin-bottom:50px;
            background: #cccccc;
            border: 10px inset brown;*/
           /* position:absolute;
            top: 60;
            left: 200;*/
         }

#textpage{
 /* background-color: blue;
  text-align: justify-all;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom:50px;
  width: 60%;
  padding: 20px;
  font-size: larger;
  word-wrap: normal;*/
  
}
#introtextpage{
 /* background-color: white;
  text-align: justify-all;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom:50px;
  width: 60%;
  padding: 20px;
  font-size: large;
  word-wrap: normal;*/
  
}

/*Redacted style CSS from https://codepen.io/adamruf/pen/GZwdrY by Adam Ruf  */



