
body {
    /*text-align: center;*/
    font-family: 'EB Garamond', serif;
    background-color: white;
    font-size: large;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: hidden;
/*background-attachment:fixed;
background-position:center; */

}

#choosetext{

  text-align: center;
}

.btn-primary{

  background: black;
  
  font-family: 'Open Sans', sans-serif;

}

.select-picker{

  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;

}
#mycanvas {
            
            margin-top: 30px;
            /*margin-left: 200px;*//*
            border: 10px inset white;*/
  /*margin-bottom:50px;
            background: #cccccc;
           
           /* position:absolute;
            top: 60;
            left: 200;*/
         }

#controls{
 font-family: 'Open Sans', sans-serif;


 /* background-color: blue;
  text-align: justify-all;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom:50px;
  width: 60%;
  padding: 20px;
  font-size: larger;
  word-wrap: normal;*/
  
}
#introtextpage{
 /* background-color: white;
  text-align: justify-all;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom:50px;
  width: 60%;
  padding: 20px;
  font-size: large;
  word-wrap: normal;*/
  
}

/*Redacted style CSS from https://codepen.io/adamruf/pen/GZwdrY by Adam Ruf  */



